.container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}
.logoutContainer {
  position: absolute;
  top: 15px;
  right: 20px;
}
.logoutBtn {
  width: 70px;
  color: blueviolet;
  height: 25px;
  border-radius: 5px;
  border: 1px solid rgb(226, 112, 112);
  background-color: transparent;
  margin-left: auto;
  cursor: pointer;
}
.logoutBtn:hover {
  background-image: -webkit-gradient(rgb(226, 112, 112));
  background-position: -100%;
  transition: 2s background-position;
}
